.modal-container {
  .modal-title {
    display: flex;
    justify-content: space-between;
    mat-icon {
      cursor: pointer;
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20rem;
  }
}
