<div *ngIf="characters$ | async as characters; else loading" class="characters-container">
  <mat-card *ngFor="let character of characters" (click)="showMoreQuotes(character.name)">
    <mat-card-header>
      <mat-card-title>{{ character.name }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image
         [src]="character.image"
         class="character-image">
    <mat-card-content class="character-quote">
      <app-quote [quote]=" character.quotes[0]"></app-quote>
    </mat-card-content>
  </mat-card>
</div>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
